.pepe {
    /* background-image: url('https://firebasestorage.googleapis.com/v0/b/misitioweb-d59d3.appspot.com/o/images%2Fimg7.png?alt=media&token=a9ed5060-cb5e-4130-a74c-0b612d4247cf');
    background-size: cover;         
    background-repeat: no-repeat; 
    background-position: center;     */
    background-color: aquamarine;
}