doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Nomades Cabañas de pastores
        link(href="/styles.css" rel="stylesheet")
        link(rel='icon' href='/images/nomades2.png' )
    body 
      .cover-container1.d-flex.w-100.h-100.p-3.mx-auto.flex-column 
        header.mb-auto 
          div
            h3.float-md-start.mb-0 Nomades: Cabañas de pastores 
            nav.nav.nav-masthead.justify-content-center.float-md-end.caption-nav
              a.nav-link.fw-bold.py-1.px-0.active(aria-current='page' href='/') Home
              a.nav-link.fw-bold.py-1.px-0.active(href='#') Features
              a.nav-link.fw-bold.py-1.px-0.active(href='/contacto') Contact
        main.px-3 
          .caption-title
            h1 Cover your page 
            p.lead Cover is a one-page template for building sample and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.
            p.lead 
            a.btn.btn-lg.btn-ligth.fw-bold.border-white.bg-white(href='/') Learn more
        
        footer.mt-auto.text-white-50 
          p Hechas en Monte 
            a.text-white(href='#') ,
              p por 
                a.text-white(href="#") nom
    script(type="module" src= '/main.js')