doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="Profundiza en nuestros productos")
    meta(name="author", content="Antorrg. Antonio Ricardo Rodriguez Gramajo")
    title Detalle proyecto
    link(rel="icon", href="/images/favicon.png")
    link(href="/css/bootstrap.min.css", rel="stylesheet")
    style.
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }
      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }
      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }
      .nav-scroller {
        position relative;
        z-index 2;
        height 2.75rem;
        overflow-y hidden;
      }
      .nav-scroller .nav {
        display flex;
        flex-wrap nowrap;
        padding-bottom 1rem;
        margin-top -1px;
        overflow-x auto;
        text-align center;
        white-space nowrap;
        -webkit-overflow-scrolling touch;
      }
      .modal-custom {
        background-color rgba(0, 0, 0, 0.03);
      }
      .modal-dialog-custom {
        max-width 100%; /* Ajusta este valor según necesites */
      }
      .modal-content {
        background-color #f8f9fa;
        overflow hidden;
      }
     .modal-body img {
        max-width: 100%;
        height: auto;
        max-height: 100vh; /* Ajusta la altura máxima según necesites */
        margin: 0 auto; /* Centra la imagen horizontalmente */
        display: block; /* Evita espacios innecesarios debajo de la imagen */
      }
  body
    .modal.modal-tour.position-static.d-block.modal-custom.py-5(tabindex="-1", role="dialog", id="modalTour")
      .modal-dialog.modal-dialog-centered.modal-xl
        .modal-content
          .modal-body.p-5.text-center
            img.d-block.mx-auto.mb-4(src=`${item.img}`, alt="image not found")
            p.text-muted=`${item.text}`
            a.btn.btn-lg.btn-primary.mt-3.mx-auto.w-50(href=`/detalles/${item.homeId}`) Cerrar
  script(src="/js/bootstrap.bundle.min.js")
