extends ../layouts/adminLayout.pug

block content
  h2.text-center.w-100.mt-3.mb-4 Administracion de paginas
  .row
    each inf in info
      .col-lg-3
        img.bd-placeholder-img.rounded-circle(src=inf.logo, width="70", height="70", alt="Placeholder")
        h4.fw-normal= inf.title
        p= inf.infoHeader
        p
          a.btn.btn-secondary(href=`/admin/page/${inf.id}`) Ver detalles &raquo;
