extends ../layouts/navbar.pug

block content
  h2.text-center.w-80.mt-3.mb-4 Administracion de paginas
  .row
   
      .col-lg-3
        img.bd-placeholder-img.rounded-circle(src='/images/solano.jpg', width="70", height="70", alt="Placeholder")
        h4.fw-normal Titulo de prueba
        p aqui tenemos un parrafo solo para ver como funciona nuestra view
        p
          a.btn.btn-secondary(href=`/`) Ver detalles &raquo;
