@import './styles/bootstrap.min.css';
@import './styles/bootstrap.min.css.map';
@import './styles/cover.css';
@import './styles/carousel.css';
@import './styles/error.css'; 
@import './styles/adminLayout.css';
@import './styles/contact.css'


